.active {
    position: relative;
    float: right;
    width: 70%;
    border-left: 4px solid #e9d758;
    border-top: 4px solid #e9d758;
    border-radius: 20px 20px 0 0;
    background: rgba(251,251,255,0.8);
}

.activeHeading {
    height: 120px;
}

.active h2 {
    margin: 8px 0px 50px 60px;
    float: left;
    font-size: 2rem;
    width: 50%;
    text-align: center;
}

.activeHeadingButtons {
    margin: 8px 0 0;
    float: right;
}

.progress {
    float: left;  
    margin-right: 30px;
}

.sorting {
    float: left;
    margin-right: 30px;
}

.sorting > * {
    float: left;
    margin-right: 10px;
}

.sorting i {
    margin: 20px 0 0;
    transition: all 0.3s;
}

.sorting button.rating:hover i {
    color: #e9d758;
}

.sorting button.date:hover i {
    color: #256bed;
}

.addBooks {
    margin: 5px 20px 0 0;
}

.addBooks i {
    font-size: 2.5rem;
    color: #256bed;
    transition: all 0.3s;
}

.addBooks:hover i {
    color: #e9d758;
}

.close {
    position: absolute;
    color: black;
    font-size: 1.2rem;
    top: 10px;
    left: 10px;
    transition: all 0.3s;
}

.close:hover {
    color: #256bed;
}

.books {
    clear: both;
}

.book {
    float:left;
    width: calc(49% - 20px);
    border-radius: 5px;
    min-height: 320px;
    /* border: 2px solid #deedf5; */
    font-size: 0.9rem;
    margin: 0 10px 20px;
    padding: 20px;
    border-right: 2px solid #256bed; 
    border-bottom: 2px solid #256bed; 
    border-radius: 0 0 10px 0;
}

.book:nth-child(2n+3){
    clear: both;
}

.bookTitle {
    margin-top: 0;
}

.book button {
    display: block;
}

.book button i {
    transition: all 0.3s;
}

.book button:hover i {
    color: #256bed;
}

.book button.checked i {
    color: #256bed;
}
.book button.checked:hover i {
    color: #1e1d29;
}

.bookCover {
    width: 40%;
    float: left;
    border-radius: 10px;
}

.bookInfo {
    width: 60%;
    float: left;
    padding: 0 0 0 10px;
}

.progressCheck {
    padding: 0;
}
.progressCheck  p{
    margin: 0;
}

.progressCheck > * {
    float: left;
}

.checkButton {
    margin: 0px 0 0 10px;;
}

.checkButton i {
    font-size: 1rem;
}

.deleteBook {
    margin: 10px 0 0 20px;
}

.addBook {
    margin: 0 auto;
    background: #256bed;
    border: 2px solid #256bed;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fbfbff;
    transition: all 0.3s;
}

.addBook:hover {
    color: #256bed;
    background: transparent;
}

.addBook i {
    margin-left: 10px;
}

