.active {
    position: relative;
    float: right;
    width: 70%;
    /* border: 2px solid #deedf5; */
    border-radius: 5px;
}

.activeHeading {
    height: 120px;
    /* border: 1px solid red; */
}

.active h2 {
    margin: 8px 0px 50px 60px;
    float: left;
    font-size: 2rem;
    width: 50%;
    text-align: center;
}

.activeHeadingButtons {
    margin: 8px 0 0;
    float: right;
}

.progress {
    float: left;  
    margin-right: 30px;
}

.sorting {
    float: left;
    margin-right: 30px;
}

.sorting > * {
    float: left;
    margin-right: 10px;
}

.sorting i {
    margin: 20px 0 0;
    transition: all 0.3s;
}

.sorting button.rating:hover i {
    color: #e9d758;
}

.sorting button.date:hover i {
    color: #256bed;
}

.addBooks {
    margin: 5px 20px 0 0;
}

.addBooks i {
    font-size: 2.5rem;
    color: #256bed;
    transition: all 0.3s;
}

.addBooks:hover i {
    color: #e9d758;
}

.close {
    position: absolute;
    color: black;
    font-size: 1.2rem;
    top: 10px;
    left: 10px;
    transition: all 0.3s;
}

.close:hover {
    color: #256bed;
}

.books {
    clear: both;
}

.book {
    float:left;
    width: 49%;
    border-radius: 5px;
    height: 300px;
}

.book button {
    display: block;
}

.book button i {
    transition: all 0.3s;
}

.book button:hover i {
    color: #256bed;
}

.book button.checked i {
    color: #256bed;
}
.book button.checked:hover i {
    color: #1e1d29;
}

.bookCover {
    width: 40%;
    float: left;
    border-radius: 10px;
}


.bookInfo {
    width: calc(60% - 30px);
    margin: 0 20px 0 10px;
    float: left;
    /* border: 1px solid green; */
}

.progressCheck > * {
    float: left;
}

.checkButton {
    margin: 20px 0 0 10px;;
}

.deleteBook {
    margin-left: 20px;
}

.complete {
    background-color: #256bed
}