

/* .header {
    background-color: #e9d758;
    height: 150px;
    transform: skewY(-5deg);
    z-index: -2;
} */
.header{
    position: relative;
}

.header img {
    width: 80px;
    position: absolute;
    top:0;
    left: 27%;
}
