.lists {
    float: left;
    width: 25%;
    border-top: 4px solid #e9d758; 
    border-right: 4px solid #e9d758;
    border-radius: 20px 20px 0 0;
    padding: 20px 20px 0 ;
    background: rgba(251,251,255,0.8);
}

.listsMobile {
    float: none;
    margin: 0 auto;
    width: 70%;
    border-left: 4px solid #e9d758;
    border-right: none;
    display: none;
}

.lists h2 {
    margin-bottom: 20px;
}

.lists form i {
    color: #256bed;
    transition: all 0.3s;
}
.lists form button[type="submit"]:hover i {
    color: #e9d758;
}

.lists input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 2px solid #256bed;
    border-left: 2px solid #256bed;
    border-radius: 0 0 0 5px;
    padding: 0 0 2px 10px;
    width: 80%;
    max-width: 300px;
}

.list {
    margin: 20px 0;
    padding: 5px 0;
}

.list:hover i {
    color: #e9d758;
}

.hidden {
    opacity: 0;
    transition: all 0.3s;
}

.list:hover .hidden {
    opacity: 1;
}

.list i {
    float: left;
    color: #256bed;
    font-size: 1.1rem;
    transition: all 0.3s;
    margin-right: 10px;
}

.list .hidden i {
    color: #1e1d29;
    font-size: 0.9rem;

}

.list button.hidden:hover i {
    color: #e9d758;
}

.list p {
    margin: 0;
    float: left;
    width: 75%;
    cursor: pointer;
}

.list button {

    float: left;
}


@media (max-width: 1000px){
    .lists{
        display: none;
    }
    .listsMobile {
        display: block;
    }
}

