.search {
    height: 600px;
    overflow-y: scroll;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
    border-left: 4px solid #e9d758;
    background: rgba(251,251,255,0.8);
}

.searchHeader {
    /* same effect as position fixed - but also keeps fixed within the containing parent (instead of to the viewport like what position fixed does) */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background: rgba(251,251,255,1);
}

.closeSearch {
    position: absolute;
    color: black;
    font-size: 1.2rem;
    top: 10%;
    left: 1%;
    transition: all 0.3s;
    padding: 10px 0 0 10px;
}

.closeSearch:hover {
    color: #256bed;
}

.search h2 {
    margin: 0 0 0 6%;
    padding-top: 8px;
    font-size: 2rem;
    float: left;
}

.search form {
    margin-top: 20px;
    padding-bottom: 10px;
    padding-left:10px;
    width: 45%;
    float: right;
}

.search input[type="text"]{
    background: transparent;
    border: none;
    border-bottom: 2px solid #256bed;
    border-left: 2px solid #256bed;
    border-radius: 0 0 0 5px;
    padding: 0 0 2px 10px;
    width: 80%;
    margin-right: 4.5%;
}

.search .searchButton {
    color: #256bed;
    transition: color 0.3s;
}

.search .searchButton:hover,
.search .searchButton:focus {
    color: #e9d758;
}

.search .searchButton i {
    font-size: 1.1rem
}

.loading {
    text-align: center;
}

@media (max-width: 1015px) {
    .search {
        width: 90%
    }

    .hide_1015 {
        display: none
    }
}

@media (max-width: 600px) {
    .search h2 {
        width: 100%;
        text-align: center;
    }

    .search form {
        width:80%
    }
}

@media (max-width: 500px) {
    .search form {
        width:95%
    }
}