.search {
    height: 600px;
    overflow-y: scroll;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
    border-left: 4px solid #e9d758;
    background: rgba(251,251,255,0.8);
}

.searchHeader {
    /* same effect as position fixed - but also keeps fixed within the containing parent (instead of to the viewport like what position fixed does) */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background: rgba(251,251,255,1);
}

.closeSearch {
    position: absolute;
    color: black;
    font-size: 1.2rem;
    top: 10px;
    left: 10px;
    transition: all 0.3s;
    /* float: left; */
    padding: 10px 0 0 10px;
    /* clear: both; */
}

.closeSearch:hover {
    color: #256bed;
}

.search h2 {
    margin: 0 auto;
    width: 85%;
    text-align: center;
    padding-top: 8px;
    font-size: 2rem;
}

.search form {
    margin-top: 20px;
    padding-bottom: 10px;
    padding-left:10px;
    text-align: right;
}

.search input[type="text"]{
    background: transparent;
    border: none;
    border-bottom: 2px solid #256bed;
    border-left: 2px solid #256bed;
    border-radius: 0 0 0 5px;
    padding: 0 0 2px 10px;
    width: 40%;
    margin-right: 15px;
}

.search .searchButton {
    color: #256bed;
    transition: color 0.3s;
    margin-right: 15px;
}

.search .searchButton:hover,
.search .searchButton:focus {
    color: #e9d758;
}

.search .searchButton i {
    font-size: 1.1rem
}